<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Finance Management System</title>
  </head>
  <body>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Finance Management</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index">Home</a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link" href="/contact">Link</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="customers">Customers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="bills">Bills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="reports">Reports</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="adduser">Add Users</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <form action="updaterecord/{{ customers.id }}" method="post">
        <span>Payment Here</span>
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" class="form-control" value="{{ customers.student_name }}" id="fname" name="fname" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Total Fee</label>
          <input type="text" class="form-control" value="{{ customers.final_amt}}" id="snumber" name="snumber" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Remaining Amount</label>
            <input type="text" class="form-control" value="{{ customers.remaining_fee }}" id="tnumer" name="tnumer" placeholder="Section">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Paid Amount</label>
            <input type="text" class="form-control" value="{{ customers.paid_amt }}" id="tnumer" name="tnumer" placeholder="Section">
          </div>
         <div class="form-group">
            <label for="exampleInputPassword1">Recived Amount</label>
            <input type="text" class="form-control"  id="fnumber" name="fnumber" placeholder="Monthyly Fee">
          </div>
          {% comment %} <div class="form-group">
            <label for="exampleInputPassword1">Remaining</label>
            <input type="text" class="form-control" id="Dnumber" name="Dnumber" placeholder="Fee For Month">
          </div>  {% endcomment %}
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>